#g:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#y:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#r:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

h3{
    margin-top: 30px;
}

#repo{
  font-family: 'Lustria', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}

#repo-card{
    background-color: aquamarine;
    margin: 10px;
    margin-top: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
}


#repo-card:hover{
    background-color: rgb(255, 178, 127);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}